{% extends 'faktury/base.html' %}

{% block heads %}
<title>Dane firmy</title>
{% endblock %}


{% block content %}

                <div>

                    <h3>Nazwa pełna: {{form.name}}</h3>
                    <h3>NIP: {{form.nip}}</h3>
                    <h3>Numer KRS: {{form.krs}}</h3>
                    <h3>Miasto: {{form.miasto}}</h3>
                    <h3>Kod pocztowy: {{form.kod}}</h3>
                    <h3>Ulica dom / lokal: {{form.adres}}</h3>

                </div>

{% endblock %}

