<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<html>
<head>
    <title>Check excel</title>
    <link rel="stylesheet" href="{% static 'main/css/table.css'%}">
</head>
<body>

<br>
  <table>
      <tr>
          <th>L.p.</th>
          <th>Element przedmiaru</th>
          <th>Jednostka</th>
          <th>Ilość</th>
      </tr>
      {% for row in content %}
      <tr>
          <td>{{ row.position}}</td>
          <td>{{row.element}}</td>
          <td>{{row.unit}}</td>
          <td>{{row.amount}}</td>
      </tr>
      {% endfor %}
  </table>
</body>
</html>