{% extends 'main/base.html' %}

{% block heads %}
<title>Logowanie</title>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors}}</div>
    {% for f in form %}
        <table>
        <tr>
            <td><h3><label class="form-label" for="{{f.id_for_label}}">{{f.label}}</label>&nbsp </h3></td>
            <td><h3>{{f}}</h3></td>
        </tr>
    <div class="form-error">{{f.errors}}</div>
        </table>
    {% endfor %}
    <h3><input type="submit" value="Zaloguj"></h3>
</form>
{% endblock %}